<div id="<%= dom_id farm_size %>">
  <p>
    <strong>Name:</strong>
    <%= farm_size.name %>
  </p>

  <p>
    <strong>Area sqm:</strong>
    <%= farm_size.area_sqm %>
  </p>

  <p>
    <strong>Display order:</strong>
    <%= farm_size.display_order %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= farm_size.active %>
  </p>

</div>
