<div class="requirement-fields">
  <%= f.hidden_field :_destroy, class: 'destroy-flag' %>
  
  <div class="form-row">
    <div class="form-group">
      <%= f.label :minimum_sunshine_hours, t('crops.stage.sunshine.minimum_hours_label'), class: 'form-label' %>
      <%= f.number_field :minimum_sunshine_hours, class: 'form-control', step: 0.1, placeholder: t('crops.stage.sunshine.minimum_hours_placeholder') %>
    </div>

    <div class="form-group">
      <%= f.label :target_sunshine_hours, t('crops.stage.sunshine.target_hours_label'), class: 'form-label' %>
      <%= f.number_field :target_sunshine_hours, class: 'form-control', step: 0.1, placeholder: t('crops.stage.sunshine.target_hours_placeholder') %>
    </div>
  </div>
</div>

