<%# app/views/crops/show.html.erb %>
<%# 作物詳細画面 - パーシャル化により各セクションを分離 %>
<% content_for :title, "#{@crop.name} - AGRR" %>

<div class="crop-detail-card" id="<%= dom_id(@crop) %>" data-undo-delete-record>
  <%= render 'crops/header', crop: @crop %>
  
  <%= render 'crops/basic_info', crop: @crop %>
  
  <%= render 'crops/pests_section', crop: @crop %>
  
  <div class="task-schedule-blueprints-section" id="crop-task-schedule-blueprints">
    <%= render 'crops/task_schedule_blueprints_section', 
               crop: @crop, 
               task_schedule_blueprints: @task_schedule_blueprints %>
    
    <%= render 'crops/available_task_templates_section',
               crop: @crop,
               available_agricultural_tasks: @available_agricultural_tasks,
               selected_task_ids: @selected_task_ids %>
  </div>

  <%= render 'crops/stages_section', crop: @crop %>
  
  <%= render 'crops/actions', crop: @crop %>
</div>
