<% content_for :title, "#{t('fields.new.breadcrumb.current')} - #{@farm.display_name} - AGRR" %>

<div class="breadcrumb">
  <%= link_to t('fields.new.breadcrumb.farms'), farms_path, class: "breadcrumb-link" %>
  <span class="breadcrumb-separator">></span>
  <%= link_to @farm.display_name, farm_path(@farm), class: "breadcrumb-link" %>
  <span class="breadcrumb-separator">></span>
  <%= link_to t('fields.new.breadcrumb.fields'), farm_fields_path(@farm), class: "breadcrumb-link" %>
  <span class="breadcrumb-separator">></span>
  <span class="breadcrumb-current"><%= t('fields.new.breadcrumb.current') %></span>
</div>

<div class="page-header">
  <h1 class="page-title"><%= @farm.display_name %> - <%= t('fields.new.title') %></h1>
</div>
    
    <div class="form-card">
      <%= form_with model: [@farm, @field], local: true do |form| %>
        <% if @field.errors.any? %>
          <div class="errors">
            <h3><%= t('fields.new.errors.title', count: @field.errors.count) %></h3>
            <ul>
              <% @field.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="form-group">
          <%= form.label :name, t('fields.new.form.name_label'), class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: t('fields.new.form.name_placeholder') %>
          <div class="form-text"><%= t('fields.new.form.name_help') %></div>
        </div>
        
        <div class="form-group">
          <%= form.label :area, t('fields.new.form.area_label'), class: "form-label" %>
          <%= form.number_field :area, class: "form-control", placeholder: t('fields.new.form.area_placeholder'), step: "0.1", min: "0" %>
          <div class="form-text"><%= t('fields.new.form.area_help') %></div>
        </div>
        
        <div class="form-group">
          <%= form.label :daily_fixed_cost, t('fields.new.form.daily_cost_label'), class: "form-label" %>
          <%= form.number_field :daily_fixed_cost, class: "form-control", placeholder: t('fields.new.form.daily_cost_placeholder'), step: "1", min: "0" %>
          <div class="form-text"><%= t('fields.new.form.daily_cost_help') %></div>
        </div>
        
        <div class="actions">
          <%= form.submit t('fields.new.form.submit'), class: "btn btn-success" %>
          <%= link_to t('fields.new.form.cancel'), farm_fields_path(@farm), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>