<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "AGRR" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "fields", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <div class="header">
    <div class="logo">AGRR</div>
    <div class="user-info">
      <a href="<%= root_path %>" class="nav-link">ホーム</a>
      <%= link_to "農場", farms_path, class: "nav-link" %>
      <%= link_to "作物", crops_path, class: "nav-link" %>
      <% if logged_in? %>
        <% if current_user.avatar_url.present? %>
          <%= image_tag current_user.avatar_url, alt: "User Avatar", class: "user-avatar" %>
        <% end %>
        <span><%= current_user.name %></span>
        <%= button_to "ログアウト", auth_logout_path, method: :delete, class: "logout-btn" %>
      <% end %>
    </div>
  </div>
  
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert"><%= flash[:notice] %></div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
