<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Login - AGRR" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "fields", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "auth", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  
  <style>
    body {
      margin: 0;
      padding: 0;
      padding-top: 80px; /* ナビゲーションバーの高さ分の余白 */
    }
  </style>
</head>
<body class="auth-body">
  <%= render 'shared/navbar' %>
  <%= yield %>
</body>
</html>

